helloFile.txt
helloFileWrite.txt
mydata.bak
mydata.dat
mydata.dir
withFile
Absolute and relative paths and single and double dots.png
error_file.txt
RomeoEnJuliet.txt
aantalHuizen.csv
example.xlsx
meetingminutes1.pdf
combinedMinutes.pdf
Word document voor automate the boring stuff.docx
Word document voor automate the boring stuff2.docx
PythonDocument.docx
screenshotMetPyautogui.png
ChromeLogo.png
